spring:
  devtools:
    livereload:
      port: 35730
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0 # Définir à 100% (1.0) pour capturer toutes les requêtes


logging:
  pattern:
    correlation: "[${spring.application.name:},%X{traceId},%X{spanId}]"